<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phone.hongri.com.myliberay">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".LibraryActivity"></activity>

    </application>

</manifest>
